body{
color:white;
background-color: black;
font-family: Georgia, "Times New Roman", serif;
}

hr{
  color: white}

h1{
  padding-top: 100px;
  paddint-bottom:50px;
  text-align: center;}

h2{
  text-align:center;}

p{
  text-align: justify;
  padding-left:200px;
  padding-right:200px;}

