body{
color:white;
background-color: black;
font-family: Georgia, "Times New Roman", serif;
}

h1{
  padding: 100px;
  text-align: center;}

p{
  text-align: justify;
  padding-left:200px;
  padding-right:200px;}

